# Install torch and torchvision with compatibile cuda version
torch=2.0.0+cu117
--extra-index-url https://download.pytorch.org/whl/nightly/cu117

# Install huggingface transformers
transformers=4.26.0
evluate=0.4.0
